@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    font-family: Poppins;
}

body {
    overflow-x: hidden;
    background-color: #D4CFCF;
    color: #333;
}

.bg_img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.navbar {
    transition: all 0.5s;
}

.navbar_scrolled {
    background-color: black;
    box-shadow: o 3px 10px rgba(0, 0, 0, 0.5);
}

.banner_title {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

h1 {
    font-size: 50px;
}

span {
    color: rgb(151, 218, 218);
}

main {
    margin-top: 800px;
}

#features img {
    max-height: 250px;
}

.btn-coffee {
    background-color: #6f4e37;
    border-color: #6f4e37;
    color: white;
}

.btn-coffee:hover {
    background-color: #5a3d2b;
    border-color: #5a3d2b;
}